@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Kaushan+Script&family=Leckerli+One&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&family=Rammetto+One&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: grid;
}

body {
    display: grid;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(-135deg, #c850c0, #4159d0cd);
    background-position: center;
    background-size: 250vh;
}

.text {
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 20px rgba(87, 1, 87, 0.278);
    color: #4158d0;
}

.show-btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 410px;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.301);
}

img {
    width: 200px;
}

::placeholder {
    text-align: center;
    opacity: 0.7;
}

.container-s .text {
    font-size: 40px;
    text-align: center;
}

.container-s form .data {
    height: 45px;
    width: 100%;
    margin: 25px 0;
}

.data label {
    font-size: 18px;
}

.data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

.data input:focus {
    border-color: #3498db;
    border-bottom-width: 2px;
}


.btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.btn .inner {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #c850c0, #396fb0d3, #bf005945, #396fb0d3);
    transition: all 0.7s;
}

.btn:hover .inner {
    left: 0;
}

.btn button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
}

.signup-link a:hover {
    text-decoration: underline;
}

.dot {
    opacity: 0.2;
}