 @import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Kaushan+Script&family=Leckerli+One&family=Lobster&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Praise&family=Rammetto+One&family=Titan+One&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }


 html {
     display: grid;
 }

 body {
     display: grid;
     margin: 0;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background: linear-gradient(100deg, #c850c0, #4159d0e6);
     background-position: center;
     background-size: 250vh;
 }

 .navbar {
     background: rgba(255, 255, 255, 0.136);
     backdrop-filter: blur(5px);
     height: 110px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     position: fixed;
     width: 100%;
     font-family: 'Poppins', sans-serif;
 }

 .logo {
     flex: 20%;
     text-align: left;
     margin-left: 10%;
 }

 .logo a {
     text-decoration: none;
 }

 .logo h1 {
     font-family: 'Praise', cursive;
     color: #ffffff;
     text-shadow: 1px 0 0 rgba(130, 0, 0, 0.644);
     font-size: 50px;
 }


 .menu {
     flex: 70%;
     text-align: right;
     padding: 20px;
 }

 .menu a {
     color: #ffffff;
     text-decoration: none;
     font-size: 18.5px;
     padding: 20px 16px;
 }

 .menu a:hover {
     color: #ffffff;
     border-top: solid 4px #7182ff;
 }

 #buttonLogin {
     background: #7182ff;
     padding: 10px 25px;
     color: white;
     border-radius: 5px;
     margin-right: 10%;
     margin-left: 5%;
     text-transform: uppercase;
     font-size: 14px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 #buttonLogin:hover {
     border: none;
     background: #c850c0;
     color: #ffffff;
 }

 h2 {
     text-align: center;
     margin-top: 130px;
     margin-bottom: -120px;
     color: aliceblue;
     font-size: 25px;
 }

 header {
     text-align: center;
     display: flex;
     flex-flow: row wrap;
     align-items: center;
     width: 40%;
     position: static;
     margin: auto;
     margin-top: 10%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.201);
 }

 input {
     height: 45px;
     font-size: 2rem;
     width: 80%;
     padding-left: 10%;

 }

 button.add {
     width: 20%;
     cursor: pointer;
     background: -webkit-linear-gradient(right, #1a23da5d, #6473e3b7, #4581cbeb);
     color: white;
     font-weight: bold;
     border: none;
     height: 45px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 ::placeholder {
     opacity: 0.25;
     font-size: 25px;
     text-align: center;
 }

 main {
     display: flex;
     flex-flow: row wrap;
     width: 90%;
     margin: auto auto;
     padding-top: 40px;
 }

 .task {
     margin: auto auto;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     background: #ffffff;
     height: 50px;
     width: 60%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.201);
     cursor: pointer;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     margin-bottom: 1%;
 }

 #inputCheck {
     font-size: 22px;
 }

 .taskCheck {
     background: #d4d4d4;
 }

 .taskCheck .item-name {
     text-decoration: line-through;
     color: rgb(255, 255, 255);
 }

 .item-icon {
     flex: 20%;
     text-align: center;
     font-size: 2rem;
 }

 .item-name {
     flex: 55%;
     font-size: 20px;
     font-weight: bold;
 }

 .item-button {
     flex: 25%;

 }

 .delete {
     color: rgb(255, 255, 255);
     border: none;
     padding: 10px;
     height: 50px;
     width: 100%;
     cursor: pointer;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     background: -webkit-linear-gradient(right, #c850c097, #396fb0d3);
 }

 .mdi-checkbox-blank-outline {
     color: rgb(0, 0, 0);
 }